<div id="page"></div>


<div id="out"></div>
<div id="log"></div>


<script>

  $(document).ready(function(){
    var pages = new Pages({
      sourceUrl: 'http://localhost:3000/assets/sample2.json',
      selector: '#page'
    });
  });


</script>