<div>

  
  <h1>Test Colors</h1>


  <p>Question: Click Blue.</p>


  <table class="table">
   <tr>
     <th>Color</th>
     <th>Example</th>
   </tr>
   <tr>
     <td>???</td>
     <td><div class="button leap-interactive" style="background-color:red;"><br/><br/><br/></div></td>
   </tr>
   <tr>
     <td>???</td>
     <td><div class="button leap-interactive" style="background-color:green;"><br/><br/><br/></div></td>
   </tr>
   <tr>
     <td>???</td>
     <td>
       <div class="button leap-interactive" style="background-color:blue;"><br/><br/><br/></div>
     </td>
   </tr>
  </table>



</div>